body {
	background-color: lightblue
}
div{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid red;
	background-image: radial-gradient(50% 50% at 50% 50%, #2602FF 0%, rgba(38, 2, 255, 0.766164) 36.98%, rgba(38, 2, 255, 0.515625) 60.42%, rgba(38, 2, 255, 0.521193) 74.48%, rgba(38, 2, 255, 0) 100%);
}
